@model Learning.Models.TrainerSkillsDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TrainerSkillsDetail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TrainerSkillsId)

        <div class="form-group">
            @Html.LabelFor(model => model.SkillOne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillOne)
                @Html.ValidationMessageFor(model => model.SkillOne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillTwo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillTwo)
                @Html.ValidationMessageFor(model => model.SkillTwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillThree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillThree)
                @Html.ValidationMessageFor(model => model.SkillThree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DomainOne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DomainOne)
                @Html.ValidationMessageFor(model => model.DomainOne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DomainTwo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DomainTwo)
                @Html.ValidationMessageFor(model => model.DomainTwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DomainThree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DomainThree)
                @Html.ValidationMessageFor(model => model.DomainThree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguagesOne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguagesOne)
                @Html.ValidationMessageFor(model => model.LanguagesOne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguagesTwo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguagesTwo)
                @Html.ValidationMessageFor(model => model.LanguagesTwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguagesThree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LanguagesThree)
                @Html.ValidationMessageFor(model => model.LanguagesThree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectOne, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectOne)
                @Html.ValidationMessageFor(model => model.ProjectOne)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectTwo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectTwo)
                @Html.ValidationMessageFor(model => model.ProjectTwo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectThree, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectThree)
                @Html.ValidationMessageFor(model => model.ProjectThree)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainerPhotoUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrainerPhotoUrl)
                @Html.ValidationMessageFor(model => model.TrainerPhotoUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainerProfileUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrainerProfileUrl)
                @Html.ValidationMessageFor(model => model.TrainerProfileUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrainerId)
                @Html.ValidationMessageFor(model => model.TrainerId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
